{% extends 'layouts/base.html.twig' %}

{% block title pin.title %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <article class="product bg-white rounded shadow">
            <div class="mw-100 rounded-top overflow-hidden">
                <a href="{{ path('app_pins_show', {id: pin.id}) }}">
                    <img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('images/no_image.jpg')) | 
                    imagine_filter('squared_thumbnail_medium') }}" alt="{{ pin.title }}" class="w-100"/>
                </a>
            </div>
            <div class="pl-3 pt-3 pb-3">
                <h1 class="h5"><a href="{{ path('app_pins_show', {id: pin.id}) }}" 
                    class="text-muted text-decoration-none text-secondary">{{ pin.title }}</a>
                </h1>
                <p>{{ pin.description }}</p>
                <p class="pl-3 pb-3 font-weight-bold text-danger"> {{ pin.price }}€ </p>

                <a href="{{ path('app_pins_edit', {id: pin.id}) }}" class="btn btn-light">Edit </a>
                <a href="#" onclick="event.preventDefault(); confirm('Êtes-vous sur ?') &&
                    document.getElementById('js-pin-delete-form').submit();" class="btn btn-light">Delete
                </a>
            </div>
        </article>


        <form id="js-pin-delete-form" action="{{ path('app_pins_delete', {id: pin.id}) }}" method="post" style="display: none;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token('pin_deletion_' ~ pin.id) }}">
            <input type="hidden" name="_method" value="DELETE">
        </form>
    </div>
</div>



{% endblock %}