<h1>Bonjour! Un client vous a contacté !!</h1>

<table class="table">
  <tbody>
    <tr>
        <td>Prenom</td>
        <td> {{contact.firstName}} </td>
    </tr>
    <tr>
        <td>Nom</td>
        <td> {{contact.lastName}} </td>
    </tr>
    <tr>
        <td>Téléphone</td>
        <td> {{contact.phoneNumber}} </td>
    </tr>
    <tr>
        <td>Email</td>
        <td> {{contact.email}} </td>
    </tr>
    <tr>
        <td>Message</td>
        <td> {{contact.message}} </td>
    </tr>
  </tbody>
</table>

<p>
    Bien à vous!
</p>