{% extends 'layouts/base.html.twig' %}

{% block title 'Editer profil' %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="my-5 text-uppercase text-center">Editer profil commerçant</h1>

            {{ form_start(formMerchant, {'attr': {'novalidate': 'novalidate'}}) }}

                {{ form_row(formMerchant.brandName) }}
                {{ form_row(formMerchant.addessLine) }}
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(formMerchant.zipCode) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_row(formMerchant.city, { 'placeholder': app.user.userMerchant.city}) }}
                        <div style="display: none; color: #f55;" id="error-message"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(formMerchant.phoneNumber) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_row(formMerchant.siretNumber) }}
                        <div style="display: none; color: #f55;" id="error-message"></div>
                    </div>
                </div>
                {{ form_row(formMerchant.description) }}
                {{ form_row(formMerchant.additionalInformation) }}
                {{ form_row(formMerchant.imageFile) }}
                {{ form_row(formMerchant.category) }}
                
                <p class="text-right"><span class="asterisk">*</span> Champs obligatoires</p>
                <button type="submit" class="btn btn-lg btn-block btn-primary mt-3">Éditer votre profil</button>
            {{ form_end(formMerchant) }}    

        </div>
    </div>

{% endblock %}