{% extends 'layouts/base.html.twig' %}

{% block title %}Trouvez les commerces proche de chez vous !{% endblock %}

{% block body %}

    {% if userMerchants|length > 0 %}
        <h1 class="mb-4 text-center text-muted ">{{ pluralize(userMerchants|length, 'Commerce') }}</h1>

        {% for row in userMerchants|batch(3) %}
            <div class="row mb-5">
                {% for userMerchant in row %}
                <div class="col-md-4">
                    <article class="product bg-white rounded shadow">
                        <div class="mw-100  rounded-top overflow-hidden">
                            <a href="{{ path('app_pins_merchant', {id: userMerchant.user.id}) }}">
                                <img src="{{ (userMerchant.logoName ? vich_uploader_asset(pin) : asset('images/no_image.jpg')) | 
                                imagine_filter('squared_thumbnail_medium') }}" alt="{{ userMerchant.brandName }}" class="w-100"/>
                            </a>
                        </div>
                        <div class="p-3">
                            <h2 class="h5 pt-3"><a href="{{ path('app_pins_merchant', {id: userMerchant.id}) }}" 
                                class="text-muted text-decoration-none text-secondary">{{ userMerchant.brandName }}</a>
                            </h2>
                            <p class="text-break">{{ userMerchant.description|u.truncate(20, '...', false) }}</p>
                            <p class="font-weight-bold"> {{ userMerchant.category }} </p>
                        </div>

                    </article>
                </div>
                {% endfor %}
            </div>
        {% endfor %}

    {% else %}
       <p class="h1 mt-5 text-center"> Aucun commerce ajouté pour le moment, <a href="{{ path('app_pins_create') }}">ajoutez en un !</a></p> 
    {% endif %}

{% endblock %}
