{% extends 'layouts/base.html.twig' %}

{% block title %}Trouvez les commerces proche de chez vous !{% endblock %}

{% block body %}

        <div class="col-6 mx-auto">
            <h1 class="mt-3 text-center text-uppercase">Recherche avancée</h1>
            <p class="mt-2 text-center">Entrer un code postal pour trouver les commerces proches !</p> 
            {{ form_start(formMerchantZip, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_row(formMerchantZip.zipCode) }}
                <button type="submit" class="btn btn-lg btn-block btn-primary mt-3">Rechercher</button>
            {{ form_end(formMerchantZip) }}
        </div>

    {% if app.request.method == 'POST' %}
        
    {% if merchants|length == 0 %}
        <p class="h2 mt-5 text-center"> Aucun résultat pour votre recherche</p> 

    {% else %}
        <p class="h2 my-4 text-center text-muted ">Résultat de recherche :</p>
        {% for row in merchants|batch(3) %}
            <div class="row mb-5">
                {% for merchant in row %}
                <div class="col-md-4">
                    <article class="product bg-white rounded shadow">
                        <div class="mw-100  rounded-top overflow-hidden">
                            <a href="{{ path('app_pins_merchant', {id: merchant.user.id}) }}">
                                <img src="{{ (merchant.imageName ? vich_uploader_asset(merchant) : asset('build/images/no_image.9a55aa56.jpg')) | 
                                imagine_filter('squared_thumbnail_medium') }}" alt="{{ merchant.brandName }}" class="w-100"/>
                            </a>
                        </div>
                        <div class="p-3">
                            <a href="{{ path('app_pins_merchant', {id: merchant.user.id}) }}" 
                                class="text-muted text-decoration-none text-secondary">
                                <h2 class="h5 pt-3">{{ merchant.brandName }}</h2>
                            </a>
                            <p class="text-break">{{ merchant.description|u.truncate(20, '...', false) }}</p>
                            <p class="font-weight-bold"> {{ merchant.category }} </p>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
                 {% endif %}
{{ knp_pagination_render(userMerchantsPages) }}
   {% endif %}

{% endblock %}