{% extends 'layouts/base.html.twig' %}

{% block title %}Trouvez les commerces proche de chez vous !{% endblock %}

{% block body %}

        <div class="col-9 mx-auto text-center">
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('build/images/logo_commercentre.44dd3a6b.png') }}" alt="Logo commercentre" class="w-25"/>
            </a>
            <h1 class="my-3 text-uppercase">Recherchez et tourvez</h1>
            <p class="h4 mb-2">Les commerces proches !</p> 
            {{ form_start(formMerchantZip, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_row(formMerchantZip.zipCode) }}
                <div style="display: none; color: #f55;" id="error-message"></div>
                <button type="submit" class="btn btn-lg btn-block btn-primary mt-3">Rechercher</button>
            {{ form_end(formMerchantZip) }}
        </div>

    {% if app.request.method == 'POST' %}
        
    {% if resultMerchants|length == 0 %}
        <p class="h2 mt-5 text-center"> Aucun résultat pour votre recherche</p> 
    {% else %}
        <p class="h2 my-4 text-center text-muted ">Résultat de recherche :</p>
        {% for row in resultMerchants|batch(3) %}
            <div class="row mb-5">
                {% for resultMerchant in resultMerchants %}
                
                <div class="col-md-4">
                    <article class="product bg-white rounded shadow">
                        <div class="mw-100  rounded-top overflow-hidden">
                            <a href="{{ path('app_pins_merchant', {id: resultMerchant.user.id}) }}">
                                <img src="{{ (resultMerchant.imageName ? vich_uploader_asset(resultMerchant) : asset('build/images/no_image.9a55aa56.jpg')) | 
                                imagine_filter('squared_thumbnail_medium') }}" alt="{{ resultMerchant.brandName }}" class="w-100"/>
                            </a>
                        </div>
                        <div class="p-3">
                            <a href="{{ path('app_pins_merchant', {id: resultMerchant.user.id}) }}" 
                                class="text-muted text-decoration-none text-secondary">
                                <h2 class="h5 pt-3">{{ resultMerchant.brandName }}</h2>
                            </a>
                            <p class="text-break">{{ resultMerchant.description|u.truncate(20, '...', false) }}</p>
                            <p class="font-weight-bold"> {{ resultMerchant.category }} </p>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
            
        {% endfor %}
                 {% endif %}
   {% endif %}
{{ knp_pagination_render(userMerchantsPages) }}
{% endblock %}